<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="https://linkedin.com/in/nditah">Nditah</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/upload-multer"> Upload Multer</a></li>
            <li><a href="/upload-resize"> Upload Resize</a></li>
            <li><a href="/upload-multiple"> Upload Multiple</a></li>
            <li><a href="/upload-cloudinary"> Upload Cloudinary</a></li>
          </ul>
        </div>
      </nav>
        
      <div class="container">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li><a href="/upload-multer"> Upload Multer</a></li>
      <li><a href="/upload-resize"> Upload Resize</a></li>
      <li><a href="/upload-multiple"> Upload Multiple</a></li>
      <li><a href="/upload-cloudinary"> Upload Cloudinary</a></li>
    </ul>

    </div>
  </body>
</html>
