<html>
  <head>
    <meta charset="utf-8">
    <title>Uploading with Multer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="https://linkedin.com/in/nditah">Nditah</a>
        </div>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li class="active"><a href="/upload-multer"> Upload Multer</a></li>
        <li><a href="/upload-resize"> Upload Resize</a></li>
        <li><a href="/upload-multiple"> Upload Multiple</a></li>
        <li><a href="/upload-cloudinary"> Upload Cloudinary</a></li>
      </ul>
    </div>
  </nav>
    
  <div class="container">
      <h1>Uploading with Multer</h1>
      <form method="post" action="/upload-multer" enctype="multipart/form-data">
        <input type="file" name="image" class="form-control" /><br /><br />
        <button type="submit" name="upload" class="btn btn-primary">Upload</button>
      </form>
      </div>

  </body>
</html>