<html>
  <head>
    <meta charset="utf-8">
    <title>Uploading Multer</title>
  </head>
  <body>
      <p>Uploading Cloudinary</p>
      <form method="post" action="/upload-cloudinary" enctype="multipart/form-data">
        <input type="file" name="image" /><br /><br />
        <button type="submit" name="upload">Upload</button>
      </form>
  </body>
</html>