<head>
    <style>
    #box
        {
            width:350px;
            height:300px;
            margin:0px auto;
            border:2px solid black;
            background:#c9f3ad
        }
        h2{
            text-align: center;
        }
        table {
            margin:0px auto;
        }
    </style>
     </head>
    <body>
        <form align="center" method="post" enctype="multipart/form-data">
        <div id="box">
         <h2><center>Upload Multiple Files</center></h2>
         <table>
            <tr>
                <td>
                <input type="file" name="myimage1" /><br/><br/>
                </td>
            </tr>
            <tr>
                <td>
                <input type="file" name="myimage2" /><br/><br/>
                </td>
            </tr>
            <tr>
                <td>
                <input type="file" name="myimage3" /><br/><br/>
                </td>
            </tr>
            <tr>
                <td>
                <center>
                <input type="submit" name="submit" value="submit"></center>
            </td>
            </tr>
            </table>
            </div>
        </form>
    </body>
    </html>